* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #F0F2F5;
  color: #080808;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.navbar {
  width: 100%;
  height: 61px;
  background-color: #fff;
}
.navbar a {
  position: relative;
}
.navbar .count_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: #DE3F4F;
  color: #FFFFFF;
  border-radius: 50%;
  font-weight: 400;
  font-size: 13px;
  position: absolute;
  top: -5px;
  right: -5px;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 0 15px;
}
.navbar__logo {
  display: flex;
  gap: 9px;
  align-items: center;
}
.navbar__search_form {
  position: relative;
}
.navbar__search_form input {
  background: #F1F2F5;
  border-radius: 100px;
  padding: 10px 36px 12px;
  border: none;
  font-weight: 400;
  font-size: 15px;
  color: #66676B;
}
.navbar__search_form .serach_icon {
  position: absolute;
  left: 13px;
  top: 11px;
}
.navbar nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10% 0 7%;
  width: 100%;
}
.navbar nav a {
  display: block;
  text-decoration: none;
  padding: 5px;
}
.navbar__profile, .navbar__profile_icons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar__profile p {
  padding-right: 11px;
}
.navbar__profile a, .navbar__profile .hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #E5E6EB;
  border-radius: 50%;
}
.navbar__profile .hamburger {
  display: none;
  cursor: pointer;
}
.navbar__default_img {
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
}

.header {
  background: linear-gradient(180deg, #6F6F7A 0%, #FFFFFF 47.92%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.header__cover {
  max-width: 941px;
  height: 300px;
  background: #202020;
  border-radius: 0px 0px 8px 8px;
  margin: 0 auto;
}
.header__user_info {
  height: 142px;
  max-width: 877px;
  margin: 0 auto;
  display: flex;
}
.header__profile_picture {
  width: 132px;
  height: 132px;
  background-color: #000;
  border-radius: 50%;
  position: relative;
  top: -10px;
}
.header__info {
  align-self: center;
  padding-left: 29px;
}
.header__info h2 {
  font-weight: 700;
  font-size: 28px;
  padding-bottom: 5px;
}
.header__info p {
  font-weight: 400;
  font-size: 17px;
  color: #66676B;
}
.header__box {
  background: #0572EF;
  border-radius: 6px;
  height: 40px;
  width: 312px;
  margin-left: auto;
  margin-bottom: 28px;
  align-self: flex-end;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 877px;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 15px;
}
.container__left_side {
  max-width: 360px;
}
.container__right_side {
  width: 502px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post_skeleton {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding-bottom: 11px;
}
.post_skeleton__image {
  height: 280px;
}

.post {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding-bottom: 11px;
}
.post__header {
  display: flex;
  align-items: center;
  margin: 13px 27px 12px 16px;
}
.post__header svg {
  margin-left: auto;
}
.post__default_img {
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
}
.post__profile_info {
  padding-left: 7px;
  min-width: 100px;
}
.post__profile_info h3 {
  min-height: 15px;
  font-weight: 500;
  font-size: 16px;
}
.post__profile_info p {
  min-height: 15px;
  margin-top: 1px;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.025em;
  color: #66676B;
}
.post__description {
  margin: 0 27px 15px 16px;
  min-height: 15px;
}
.post__description p {
  font-weight: 400;
  letter-spacing: -0.02em;
}
.post__feedback {
  display: flex;
  align-items: center;
  padding: 13px 17px 12px 19px;
}
.post__feedback__comment_count {
  margin-left: auto;
  min-height: 15px;
  min-width: 80px;
}
.post__feedback p {
  font-weight: 400;
  font-size: 15px;
  color: #66676B;
}
.post__leave_feedback {
  display: flex;
  min-height: 15px;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
  padding: 0 47px 0 53px;
  border: 1px solid #CFD0D4;
  border-left: none;
  border-right: none;
}
.post__icons {
  display: flex;
  min-width: 90px;
  min-height: 15px;
}
.post__comments {
  display: flex;
  flex-direction: column;
}
.post__comments a:first-child {
  align-self: flex-end;
}
.post__comments a {
  display: block;
  padding: 11px 16px 9px 18px;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color: #66676B;
  cursor: pointer;
}
.post__comment {
  display: flex;
  padding: 0 17px 0 14px;
  width: 100%;
}
.post__comment input {
  flex-grow: 1;
  background: #F1F2F5;
  border-radius: 100px;
  padding: 9px 12px;
  border: none;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.015em;
  color: #66676B;
}
.post__comment input ::-moz-placeholder {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.015em;
  color: #66676B;
}
.post__comment input :-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.015em;
  color: #66676B;
}
.post__comment input ::placeholder {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.015em;
  color: #66676B;
}
.post__comment_img {
  width: 37px;
  height: 37px;
  background: #000;
  border-radius: 50%;
  margin-right: 4px;
}

.skeleton {
  -webkit-animation: skeleton-loading 1s linear infinite alternate;
          animation: skeleton-loading 1s linear infinite alternate;
}

@-webkit-keyframes skeleton-loading {
  0% {
    background-color: hsl(200deg, 20%, 80%);
  }
  100% {
    background-color: hsl(200deg, 20%, 95%);
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200deg, 20%, 80%);
  }
  100% {
    background-color: hsl(200deg, 20%, 95%);
  }
}
@media screen and (max-width: 1000px) {
  .navbar {
    height: 120px;
  }
  .navbar__container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;
    justify-content: space-between;
    position: relative;
  }
  .navbar__profile {
    position: absolute;
    top: 15px;
    right: 0;
    margin-right: 15px;
  }
}
@media screen and (max-width: 650px) {
  .navbar__profile_icons {
    display: none;
  }
  .navbar__profile .hamburger {
    display: flex;
  }
  .active .navbar__profile_icons {
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 50px;
  }
}/*# sourceMappingURL=style.css.map */