*{ 
    margin: 0; 
    padding: 0; 
}
body{ 
    background: #81B98D;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}
.heading{ 
    min-height: 50%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex; 
    justify-content: center;
}

h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 89px;
    padding-right: 20px;
}
p{ 
    font-weight: 300;
    font-size: 21px;
}

a{
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.arrow{ 
    padding-left: 10px; 
}

.heading--information{ 
    margin-top: 190px;
    max-width: 50%; 
}
.description{ 
    margin-top: 30px;
    margin-bottom: 14px;
}

.heading--video{ 
    width: 50%;
    margin-top: 190px;
}


.cards{ 
    display: flex;
    justify-content: center;
    gap: 36px;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 70px 0; 
}

.card{ 
    min-width: 250px;
    background: #FFFFFF;  
}
.card-bottom{ 
    display: flex;
    background: #FFFFFF;  
}
.card img{
    width: 100%;
}
.card--info{ 
    padding: 18px;
}

.card--title{ 
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #007519;
}

.card--description{ 
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    padding-top: 9px;
    color: #5F5A5A;
}

.card--button{
    background: #007519;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 11px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 6px 16px;
    margin-top: 30px;
    cursor: pointer; 
    outline: none; 
    border:none;
}
hr{
    border:none;
    border-top: 1px solid #FFFFFF;
    max-width: 880px;
    margin: 0 auto;
}
