nav{ 
    display: flex;
    gap: 10px;
}
a{ 
    text-decoration: none;
}
nav a{ 
    display: block;
    text-decoration: none;
    height: 100px;
    background-color: aqua;
    font-size: 100px;
    color: black;
}

nav a:hover { 
    background-color: aquamarine;
    color: red;
}

/*SVG elements*/
nav svg{ 
    width: 100px; 
    fill: black;
    background-color: antiquewhite;
 
}
nav a:hover >svg{
    fill: red;
}
/*************/

/*IMG elements*/
a:hover >img, a:hover >img.clicked{ 
    filter: invert(13%) sepia(94%) saturate(7466%) hue-rotate(0deg) brightness(94%) contrast(115%);
}
nav a img{ 
    width: 100px; 
}
/*******************/


nav .circle{ 
    fill:#4094EF;
    color: #4094EF;
}

nav .clicked{ 
    fill: #00ff00; /*for svg*/
    color: #00ff00; /*for icon as a font*/
}
nav img.clicked{
    filter: invert(71%) sepia(47%) saturate(6564%) hue-rotate(80deg) brightness(116%) contrast(126%); /*for img : black to green*/
}

.logo{ 
    font-size: 50px;
    color: black;
}